

body {
  font-family: "arial";
}

.top-wrapper {
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  padding: 180px 0 100px 0;
  background-image: url(icons/header.png);
  background-size: cover;
  text-align: center;
}

.top-wrapper h1 {
  color: white;
  font-size: 45px;
  letter-spacing: 5px; 
}

.main {
  position: absolute;
  top: 395px;left: 100px;
  width: 1000px;
  padding: 20px 80px;
}

.section-title {
  border-bottom: 4px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 20px;
}

.section-title span {
  background-color: rgb(60, 179, 113);
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.biodata h3 {
  text-align: center;
  font-size: 20px;
  color: gray;
}

.bio table {
   margin-left:10px;
   width: 430px;
}

.bio {
  margin-bottom: 30px;
}

.data {
  padding: 10px;
  border-radius: 100px;
}

.data:hover{
  transition: all 0.3s;
  position: relative;
  bottom: 7px;
  color: white;
  background-color: rgb(60, 179, 113);
  box-shadow: 0 12px #1a7940;
}

.bio img {
  width:100px;
}

.contents table {
  border-spacing: 70px;
}

.noborder {
  border: none;
}

.contents img {
  width: 100px;
  transition: all 0.5s;
}

.contents img:hover{
  width: 300px;
}

.contents {
  margin-top: 100px;
}

.tentang p {
  text-align: center;
  font-size: 18px;
  word-spacing: 4px;
}
