

body {
  font-family: "Helvetica";
}

.main {
  width: 1000px;
  position: relative; left: 100px;
  padding: 100px 80px;
  background-color: rgba(255, 255, 255, 0.97 );
}

.section-title {
  border-bottom: 4px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 20px;
}

.section-title span {
  background-color: rgb(60, 179, 113);
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.biodata {
}

.bio table {
   margin-left:10px;
   width: 430px;
}

.bio {
  margin-bottom: 30px;
}

.data {
  padding: 10px;
  border-radius: 100px;
}

.data:hover{
  transition: all 0.3s;
  position: relative;
  bottom: 7px;
  color: white;
  background-color: rgb(60, 179, 113);
  box-shadow: 0 12px #1a7940;
}

.bio img {
  width:100px;
}

.contents table {
  border-spacing: 70px;
}

.noborder {
  border: none;
}

.contents img {
  width: 100px;
  transition: all 0.5s;
}

.contents img:hover{
  width: 300px;
}

.contents {
  margin-top: 100px;
}

.tentang p {
  text-align: center;
  font-size: 18px;
  word-spacing: 4px;
}
